<AuthorizeView>
    <Authorized>
        <a class="loginuser" href="Identity/Account/Manage">Hi!, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button class="logindisplay" type="submit">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="logindisplay" href="Identity/Account/Register">Register</a>
        <a class="logindisplay" href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
