@inject NavigationManager NavigationManager
<tr>
    <td>@inventory.InventoryName</td>
    <td>@inventory.Quantity</td>
    <td>@inventory.Price</td>
    <td><button type="button" class="btn btn-light" @onclick="@(()=>EditInventoryData(inventory.InventoryId))">Edit</button></td>
</tr>
@code {
    [Parameter]
    public Inventory? inventory { get; set; }

    private void EditInventoryData(int invId)
    {
        NavigationManager.NavigateTo($"/editinventory/{invId}");
    }
}
