@page "/inventories"
@attribute [Authorize]
@inject NavigationManager navigationManager
@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase
<div class="backCustom2" style="margin:10px;text-align:center">
    <h3>Inventory List</h3>
</div>
    <br />
    <ViewInventoriesComponent OnSearchInventories="OnSearchInventories"></ViewInventoriesComponent>


@if (listInventories != null)
{
    <table class="table">
        <thead class="">
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Edit</th>
        </thead>
        <tbody class="">
            @foreach(var inventory in listInventories)
            {
                <InventoryItemComponent inventory="inventory"></InventoryItemComponent>
            }
        </tbody>
    </table>
}

<br />
<button type="button" class="btn" @onclick="AddInventory">Add</button>
@code {
    private List<Inventory>? listInventories;

    protected override async Task  OnInitializedAsync()
    {
        this.listInventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList(); 
    }
    private void OnSearchInventories(List<Inventory> inventories)
    {
        listInventories = inventories;
    }
    private void AddInventory()
    {
        navigationManager.NavigateTo("/addinventory");
    }
}