@page "/productlist"
@inject NavigationManager NavigationManager
@inject IViewProductsByNameUseCase ViewProductsByNameUseCase
<h3>ProductList</h3>
<br />
<ViewProductComponent OnSearchProducts="OnSearchProducts"></ViewProductComponent>

@if (listProducts != null)
{
    <table class="table">
        <thead>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Edit</th>
        </thead>
        <tbody>
            @foreach (var pro in this.listProducts)
            {
                <ProductItemComponent product="pro" OnProductDeleted="DeleteProduct"></ProductItemComponent>
            }
        </tbody>
    </table>
    <br />
    
}
<button type="button" class="btn btn-primary" @onclick="AddProduct">Add Product</button>
@code {
    private List<Product>? listProducts ;

    protected override async Task OnInitializedAsync()
    {
        await LoadProduct();
    }

    private async Task OnSearchProducts(List<Product> products)
    {
        this.listProducts =  products;
    }
    private void AddProduct()
    {
        NavigationManager.NavigateTo("/addproduct");
    }
    private async Task DeleteProduct()
    {
        await LoadProduct();
    }
    private async Task LoadProduct()
    {
        var prods = await ViewProductsByNameUseCase.ExecuteAsync();
        this.listProducts = prods.ToList();
    }
}
